.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    right: 0;
    bottom: 0;
    background-color: rgb(255 255 255 / 50%);
}

.popup {
    position: fixed;
    width: 685px;
    background-color: #FF5533;
    border-radius: 12px;
    color: #fff;
    text-transform: uppercase;
    padding: 67px 37px 30px;
    top: 50%;
    left: 50%;
    min-width: 300px;
    z-index: 1001;
    transform: translate(-50%, -50%);
}

.popup__messages {
    margin: 0;
}

.popup__message:not(:last-of-type) {
    margin-bottom: 20px;
}

.popup__button {
    margin-top: 130px;
    height: 64px;
    background-color: #0083FC;
    width: 340px;
    color: white;
    border: none;
    font-size: 24px;
    border-radius: 12px;
}

.popup  button:active {
    box-shadow: 0 1px 3px darkblue;
}

@media screen and (max-width: 960px){

    .popup{
        width: 360px;
    }
}
