.App {
    max-width: 860px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 165px 196px 214px;
}

.main {
    margin-top: 80px;
    display: flex;
}

.cards {
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(4, 115px);
    grid-template-rows: repeat(4, 115px);
    grid-gap: 20px;
    height: 100%;

}

.counter__number {
    color: #FF5533;

}


@media screen and (max-width: 960px){

    .cards{
        grid-template-columns: repeat(4, 60px);
        gap: 20px;
        grid-template-rows: repeat(4, 60px);
        margin: 0 20px 0 20px;
    }

    .main {
        flex-direction: column;
        margin-top: 0;
    }

    .counter {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .App {
        padding: 40px 20px 20px 20px;
    }
}

